/* navbar start */
.headerButton{
    background-color: darkcyan;
    color: aliceblue;
    border-radius: 2px;
}
.nabLink{
    background-color: rgb(170, 236, 55);
    font-weight: bold;
}

/* Navbar completed */

/* Images slide start */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden;  */
 
    /* Prevents scrolling */
  }
  .bodyColor{
    background-color: rgb(224, 197, 154);
  }
  .image-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    
    
  }
  .image-overlay img {
    width: 100%;
    height: 100%;    
    object-fit: cover;
    
  }
  .centered-content {
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
  }
  .centered-content a {
    color: white;
    text-decoration: none;
    margin: 10px;
  }
  .btnImage{
    background-color: rgb(82, 48, 48);
    color: white;
  }
  /* Image slide End */

  .kelloggGarden{
    background-color: rgb(170, 236, 55);
  }
  /* .............. */
  .column-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .column-content img {
    max-width: 100%;
    height: auto;
  }
  .column-content .btn {
    margin-top: 10px;
  }
  /* grow gradening skill start */
  .growGardeningSkill{
    background-color: rgb(170, 236, 55);
  }

  /* grow gardening skill end */

  /* Footer start */
 
  .footerColor{
    background-color: rgb(89, 101, 122);
  }
   .custom-link {
    color: white;
    text-decoration: none;
   }
   .custom-link1 {
    /* color: inherit;  */
    text-decoration: none; /* Remove underline */
}
  /* Footer End */